.header {
    position: sticky;
    top: 0;

    height: 3.125rem;
    background-color: $color-bg-card;
    border-bottom: 0.125rem solid $color-bg-divider;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        padding: 0 0.5rem;
        box-sizing: border-box;

        @media screen and (min-width: 800px) {
            padding: 0 1rem;
        }
    }

    &__layout {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        padding: 0.25rem;
    }

    &__shortcut {
        display: none;
        margin-left: 1rem;
    }

    @media screen and (min-width: 800px) {
        &__shortcut {
            display: flex;
        }
    }
}
